#fb_login_button { 
    width: 80px;
  
}
#fb_login_button span, 
#fb_login_button iframe {.
    width: 80px! important;
    height: 25px! important;

}
#map-canvas{
width:100%;
height:100%;
}

#category-items{
	padding-top: 10px;
}

#submit-button{
	padding-top: 15px;
	padding-bottom: 15px;
}